@import 'variables.less';

.no-pad {
	padding-left: 0;
	padding-right: 0;
}

.designelement-bar {
	width: 100%;
	border-color: @mainColor;
	border-style: solid;
}

body {
	font-family: @bodyFont;
	color: @textColor;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	padding: 75px 0;
	a {
		color: @linkColor;
		&:hover {
			text-decoration: none;
			color: @linkColorHover;
		}
	}
}

header {
	#header-bar {
		border-width: 5px;
	}
	#header-name { 
		font-size: @headerNameFontSize;
		color: @mainColor;
		letter-spacing: 2px;
		padding-top: 10px;
	}
}

.sm-links {
	padding-left: 0;
	margin-top: 5px;
	position: relative;
	li {
		display: inline-block;
		list-style-type: none;
	}
	i {
		color: @iconLinkColorAlt;
		vertical-align: middle;
		font-size: @socialMediaIconFontSize;
		&:hover {color: @iconLinkColor; }

	}
	.github { padding: 0 2.5px; }
	.print i { font-size: @smPrintIconFontSize; }
}

#resume {
	padding: 75px 0;

	.resume-section {
		padding-bottom: 20px;
		.section-title {
			color: @mainColor;
			font-weight: 500;
		}
		.section-content {
			font-weight: 300;
			.subtitle {
				font-weight: 500;
				color: @subTitleColor;
			}
			.subcontent {
				padding-left: 0;
				li {
					list-style-type: none;
					&:before {
						content: "-";
						padding-right: 5px;
					}
				}
			}
		}
	}

	.endsubcontent { margin-bottom: 0 }

	#about {
		a:hover { border-bottom: 1px solid @linkColorHover }
	}
	
	#contact-block {
		#email:hover{ border-bottom: 2px solid @linkColorHover }
		.sm-links { top: -3px; }
	}

	#projects {
		.project-image {
			color: @iconLinkColorAlt;
			font-size: 24px;
			position: relative;
			top: 2px;
			&:hover { color: @iconLinkColor; }
		}
		.project-link {
			color: @iconLinkColorAlt;
			font-size: 16px;
			&:hover { color: @iconLinkColor; }
		}
		.skills-used {
			padding-top: 2px;
			color: @skillsUsedColor;
			font-weight: 500;
			&:before { display:none; }
			ul {
				padding-left: 0;
				li {
					&:before { display: none; }
					display: inline-block;
					font-size: 12px;
					padding: 4px 8px;
					border-radius: 8%;
					margin-right: 2px;
					border: 1px solid @skillsUsedColor;
				}
			}
		}

		#moreprojects-link {
			font-weight: 500;
			color: @linkColor;
			font-size: 15px;
			&:hover {
				color: @linkColorHover;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		#moreprojects {
			//display: none;
			//opacity: 0;
			//visibility: hidden;
			//transition: height 1s ease;
			//font-size: 0;
			//height: 0;
			&.show {
				//opacity: 1;
				//visibility: initial;
				//font-size: @bodyFont;
				//display: block;
				//transition: height 1s ease;
				//height: 300px;
			}
		}
	}

	#volunteerwork {
		.vw-icon {
			color: @iconLinkColorAlt;
			&:hover { color: @iconLinkColor; }
		}
	}
}

footer {
	#footer-bar {
		border-width: 1px;
	}
	#footer-text{
		padding-top: 5px;
		width: 100%;
		#copyright {
			color: fade(@copyrightColor, 99%);
			#copyright-year { padding: 0 5px }
		}
		.sm-links { top: -6px; }
	}
}