@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@bodyFont:						'Roboto', sans-serif;
@bodyFontSize:					20px;

@mainColor:						#2f7298; //blue
@textColor:						#000000; //black
@subTitleColor:					#555555; //dark gray
@iconLinkColor:					#999999; //light gray
@iconLinkColorAlt:				fade(@iconLinkColor, 80%);

@linkColor:						@mainColor;
@linkColorHover:				darken(@mainColor, 10%);

@headerNameFontSize:			26px;

@skillsUsedColor:				@mainColor;

@copyrightColor:				#999999;

@socialMediaIconFontSize: 		25px;
@smPrintIconFontSize:			22px;